.idea/
.vscode/
dist/

**/.local/
**/.scratch/
**/.bin/
docs/code_reviews/

__pycache__/
.venv/
.pytest_cache/
.ruff_cache/
**/*.egg-info

# Linux
*~
.directory
.Trash-*
.fuse_hidden*
.nfs*

# macOS
.DS_Store
._*
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
